body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-300px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:810px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.188235294117647);
  -webkit-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.188235294117647);
  box-shadow:0px 1px 8px rgba(0, 0, 0, 0.188235294117647);
}
#u458 {
  position:absolute;
  left:300px;
  top:0px;
  width:376px;
  height:810px;
}
#u459 {
  position:absolute;
  left:2px;
  top:397px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u461 {
  position:absolute;
  left:300px;
  top:0px;
  width:376px;
  height:50px;
}
#u462 {
  position:absolute;
  left:2px;
  top:17px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u464 {
  position:absolute;
  left:319px;
  top:11px;
  width:25px;
  height:25px;
}
#u465 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466 {
  position:absolute;
  left:316px;
  top:0px;
  width:40px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u468 {
  position:absolute;
  left:301px;
  top:49px;
  width:376px;
  height:1px;
}
#u469 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u470 {
  position:absolute;
  left:463px;
  top:11px;
  width:75px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u472 {
  position:absolute;
  left:328px;
  top:83px;
  width:322px;
  height:148px;
}
#u473 {
  position:absolute;
  left:2px;
  top:66px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:15px;
}
#u474 {
  position:absolute;
  left:380px;
  top:193px;
  width:219px;
  height:15px;
}
#u475 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u476 {
  position:absolute;
  left:468px;
  top:132px;
  width:42px;
  height:42px;
}
#u477 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  position:absolute;
  left:327px;
  top:258px;
  width:322px;
  height:184px;
}
#u479 {
  position:absolute;
  left:2px;
  top:84px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u480 {
  position:absolute;
  left:469px;
  top:311px;
  width:42px;
  height:42px;
}
#u481 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u482 {
  position:absolute;
  left:407px;
  top:374px;
  width:167px;
  height:30px;
  text-align:center;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
  background:-webkit-linear-gradient(330deg, rgba(96, 150, 216, 1) 0%, rgba(96, 150, 216, 1) 0%, rgba(39, 177, 197, 1) 100%, rgba(39, 177, 197, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(96, 150, 216, 1) 0%, rgba(96, 150, 216, 1) 0%, rgba(39, 177, 197, 1) 100%, rgba(39, 177, 197, 1) 100%);
  background:linear-gradient(120deg, rgba(96, 150, 216, 1) 0%, rgba(96, 150, 216, 1) 0%, rgba(39, 177, 197, 1) 100%, rgba(39, 177, 197, 1) 100%);
  border:none;
  border-radius:161px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u484 {
  position:absolute;
  left:328px;
  top:640px;
  width:321px;
  height:35px;
  color:#FFFFFF;
}
#u485 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  word-wrap:break-word;
}
#u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u486 {
  position:absolute;
  left:327px;
  top:466px;
  width:322px;
  height:146px;
}
#u487 {
  position:absolute;
  left:2px;
  top:65px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u488 {
  position:absolute;
  left:469px;
  top:503px;
  width:42px;
  height:42px;
}
#u489 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u490 {
  position:absolute;
  left:452px;
  top:560px;
  width:78px;
  height:15px;
  text-align:center;
}
#u491 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
