body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-300px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u579_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:382px;
  height:806px;
}
#u579 {
  position:absolute;
  left:300px;
  top:-14px;
  width:376px;
  height:800px;
}
#u580 {
  position:absolute;
  left:2px;
  top:392px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  position:absolute;
  left:300px;
  top:0px;
  width:376px;
  height:50px;
}
#u583 {
  position:absolute;
  left:2px;
  top:17px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u585 {
  position:absolute;
  left:319px;
  top:11px;
  width:25px;
  height:25px;
}
#u586 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587 {
  position:absolute;
  left:316px;
  top:0px;
  width:40px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589 {
  position:absolute;
  left:301px;
  top:49px;
  width:376px;
  height:1px;
}
#u590 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u591 {
  position:absolute;
  left:459px;
  top:11px;
  width:75px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u592 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u593 {
  position:absolute;
  left:426px;
  top:136px;
  width:128px;
  height:128px;
}
#u594 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u595 {
  position:absolute;
  left:458px;
  top:277px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u596 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u597 {
  position:absolute;
  left:378px;
  top:309px;
  width:230px;
  height:86px;
  font-size:16px;
  color:#999999;
}
#u598 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
