body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-300px;
  width:381px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u914_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:382px;
  height:806px;
}
#u914 {
  position:absolute;
  left:301px;
  top:0px;
  width:376px;
  height:800px;
}
#u915 {
  position:absolute;
  left:2px;
  top:392px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:300px;
  top:0px;
  width:376px;
  height:50px;
}
#u918 {
  position:absolute;
  left:2px;
  top:17px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u920 {
  position:absolute;
  left:319px;
  top:11px;
  width:25px;
  height:25px;
}
#u921 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922 {
  position:absolute;
  left:316px;
  top:0px;
  width:40px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:301px;
  top:49px;
  width:376px;
  height:1px;
}
#u925 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u926 {
  position:absolute;
  left:451px;
  top:11px;
  width:75px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u928 {
  position:absolute;
  left:300px;
  top:0px;
  width:376px;
  height:658px;
  overflow:hidden;
  visibility:hidden;
}
#u928_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:658px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(27, 27, 27, 0.247058823529412);
  background-image:none;
}
#u928_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u929 {
  position:absolute;
  left:77px;
  top:180px;
  width:212px;
  height:210px;
}
#u930 {
  position:absolute;
  left:2px;
  top:97px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:83px;
}
#u931 {
  position:absolute;
  left:91px;
  top:242px;
  width:193px;
  height:83px;
  font-size:14px;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u933 {
  position:absolute;
  left:150px;
  top:195px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:-webkit-linear-gradient(330deg, rgba(96, 150, 216, 1) 0%, rgba(96, 150, 216, 1) 0%, rgba(39, 177, 197, 1) 100%, rgba(39, 177, 197, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(96, 150, 216, 1) 0%, rgba(96, 150, 216, 1) 0%, rgba(39, 177, 197, 1) 100%, rgba(39, 177, 197, 1) 100%);
  background:linear-gradient(120deg, rgba(96, 150, 216, 1) 0%, rgba(96, 150, 216, 1) 0%, rgba(39, 177, 197, 1) 100%, rgba(39, 177, 197, 1) 100%);
  border:none;
  border-radius:68px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u935 {
  position:absolute;
  left:134px;
  top:343px;
  width:97px;
  height:29px;
  color:#FFFFFF;
}
#u936 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u937 {
  position:absolute;
  left:261px;
  top:193px;
  width:20px;
  height:20px;
}
#u938 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:1px;
}
#u939 {
  position:absolute;
  left:77px;
  top:224px;
  width:212px;
  height:1px;
}
#u940 {
  position:absolute;
  left:2px;
  top:-8px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u941 {
  position:absolute;
  left:319px;
  top:169px;
  width:59px;
  height:19px;
  font-size:14px;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u943 {
  position:absolute;
  left:319px;
  top:136px;
  width:30px;
  height:19px;
  font-size:14px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u945 {
  position:absolute;
  left:319px;
  top:279px;
  width:73px;
  height:19px;
  font-size:14px;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u947 {
  position:absolute;
  left:319px;
  top:207px;
  width:59px;
  height:19px;
  font-size:14px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u949 {
  position:absolute;
  left:319px;
  top:243px;
  width:59px;
  height:19px;
  font-size:14px;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u951 {
  position:absolute;
  left:319px;
  top:312px;
  width:59px;
  height:19px;
  font-size:14px;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u953 {
  position:absolute;
  left:319px;
  top:70px;
  width:141px;
  height:19px;
  font-size:14px;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u955 {
  position:absolute;
  left:319px;
  top:101px;
  width:131px;
  height:19px;
  font-size:14px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:301px;
  top:50px;
  width:376px;
  height:10px;
}
#u959 {
  position:absolute;
  left:2px;
  top:-3px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961 {
  position:absolute;
  left:301px;
  top:345px;
  width:376px;
  height:10px;
}
#u962 {
  position:absolute;
  left:2px;
  top:-3px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:305px;
  top:534px;
  width:376px;
  height:10px;
}
#u965 {
  position:absolute;
  left:2px;
  top:-3px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u966 {
  position:absolute;
  left:319px;
  top:365px;
  width:39px;
  height:19px;
  font-size:14px;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u968 {
  position:absolute;
  left:319px;
  top:554px;
  width:39px;
  height:19px;
  font-size:14px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
