body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1401 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1403 {
  position:absolute;
  left:225px;
  top:344px;
  width:949px;
  height:211px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:98px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1406 {
  position:absolute;
  left:225px;
  top:133px;
  width:949px;
  height:211px;
}
#u1407 {
  position:absolute;
  left:2px;
  top:98px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1409 {
  position:absolute;
  left:225px;
  top:555px;
  width:949px;
  height:211px;
}
#u1410 {
  position:absolute;
  left:2px;
  top:98px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1412 {
  position:absolute;
  left:225px;
  top:766px;
  width:949px;
  height:211px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:98px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:87px;
  overflow:hidden;
}
#u1415_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:87px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u1415_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1416 {
  position:absolute;
  left:30px;
  top:32px;
  width:111px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:844px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1419 {
  position:absolute;
  left:18px;
  top:133px;
  width:164px;
  height:844px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:414px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1421 {
  position:absolute;
  left:41px;
  top:158px;
  width:87px;
  height:19px;
  font-size:14px;
}
#u1422 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1423 {
  position:absolute;
  left:253px;
  top:252px;
  width:860px;
  height:165px;
}
#u1424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u1424 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1425 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u1426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u1426 {
  position:absolute;
  left:169px;
  top:0px;
  width:187px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1427 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u1428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u1428 {
  position:absolute;
  left:356px;
  top:0px;
  width:160px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1429 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u1430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:36px;
}
#u1430 {
  position:absolute;
  left:516px;
  top:0px;
  width:339px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1431 {
  position:absolute;
  left:2px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u1432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:52px;
}
#u1432 {
  position:absolute;
  left:0px;
  top:36px;
  width:169px;
  height:52px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1433 {
  position:absolute;
  left:2px;
  top:18px;
  width:165px;
  word-wrap:break-word;
}
#u1434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:52px;
}
#u1434 {
  position:absolute;
  left:169px;
  top:36px;
  width:187px;
  height:52px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1435 {
  position:absolute;
  left:2px;
  top:18px;
  width:183px;
  word-wrap:break-word;
}
#u1436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
}
#u1436 {
  position:absolute;
  left:356px;
  top:36px;
  width:160px;
  height:52px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1437 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u1438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:52px;
}
#u1438 {
  position:absolute;
  left:516px;
  top:36px;
  width:339px;
  height:52px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#3099D5;
  text-align:center;
}
#u1439 {
  position:absolute;
  left:2px;
  top:18px;
  width:335px;
  word-wrap:break-word;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u1440 {
  position:absolute;
  left:0px;
  top:88px;
  width:169px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1441 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u1442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u1442 {
  position:absolute;
  left:169px;
  top:88px;
  width:187px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1443 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u1444 {
  position:absolute;
  left:356px;
  top:88px;
  width:160px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1445 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:36px;
}
#u1446 {
  position:absolute;
  left:516px;
  top:88px;
  width:339px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#3099D5;
  text-align:center;
}
#u1447 {
  position:absolute;
  left:2px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u1448 {
  position:absolute;
  left:0px;
  top:124px;
  width:169px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1449 {
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u1450 {
  position:absolute;
  left:169px;
  top:124px;
  width:187px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1451 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u1452 {
  position:absolute;
  left:356px;
  top:124px;
  width:160px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u1453 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:36px;
}
#u1454 {
  position:absolute;
  left:516px;
  top:124px;
  width:339px;
  height:36px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#3099D5;
  text-align:center;
}
#u1455 {
  position:absolute;
  left:2px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u1456 {
  position:fixed;
  left:0px;
  top:0px;
  width:1280px;
  height:805px;
  overflow:hidden;
  visibility:hidden;
}
#u1456_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:805px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.427450980392157);
  background-image:none;
}
#u1456_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:681px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1457 {
  position:absolute;
  left:161px;
  top:39px;
  width:971px;
  height:681px;
}
#u1458 {
  position:absolute;
  left:2px;
  top:332px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459 {
  position:absolute;
  left:179px;
  top:128px;
  width:928px;
  height:571px;
  overflow:hidden;
}
#u1459_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:571px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1459_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:1115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1460 {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:1115px;
  color:#CCCCCC;
}
#u1461 {
  position:absolute;
  left:2px;
  top:550px;
  width:924px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1462 {
  position:absolute;
  left:55px;
  top:364px;
  width:49px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1464 {
  position:absolute;
  left:55px;
  top:390px;
  width:794px;
  height:254px;
  color:#CCCCCC;
}
#u1465 {
  position:absolute;
  left:2px;
  top:119px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1466 {
  position:absolute;
  left:55px;
  top:695px;
  width:794px;
  height:198px;
  color:#CCCCCC;
}
#u1467 {
  position:absolute;
  left:2px;
  top:92px;
  width:790px;
  word-wrap:break-word;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1468 {
  position:absolute;
  left:55px;
  top:663px;
  width:49px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1469 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1px;
}
#u1470 {
  position:absolute;
  left:55px;
  top:172px;
  width:794px;
  height:1px;
}
#u1471 {
  position:absolute;
  left:2px;
  top:-8px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1472 {
  position:absolute;
  left:55px;
  top:20px;
  width:133px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1473 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1474 {
  position:absolute;
  left:55px;
  top:60px;
  width:113px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1475 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1476 {
  position:absolute;
  left:55px;
  top:87px;
  width:225px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1479 {
  position:absolute;
  left:56px;
  top:206px;
  width:161px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1480 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1481 {
  position:absolute;
  left:224px;
  top:247px;
  width:225px;
  height:19px;
  font-size:14px;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1483 {
  position:absolute;
  left:224px;
  top:300px;
  width:73px;
  height:19px;
  font-size:14px;
}
#u1484 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1485 {
  position:absolute;
  left:56px;
  top:247px;
  width:111px;
  height:19px;
  font-size:14px;
}
#u1486 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1487 {
  position:absolute;
  left:494px;
  top:301px;
  width:73px;
  height:19px;
  font-size:14px;
}
#u1488 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1489 {
  position:absolute;
  left:494px;
  top:247px;
  width:159px;
  height:19px;
  font-size:14px;
}
#u1490 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1491 {
  position:absolute;
  left:706px;
  top:247px;
  width:59px;
  height:19px;
  font-size:14px;
}
#u1492 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1493 {
  position:absolute;
  left:55px;
  top:301px;
  width:128px;
  height:19px;
  font-size:14px;
}
#u1494 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u1495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1495 {
  position:absolute;
  left:149px;
  top:301px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u1496 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u1497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1497 {
  position:absolute;
  left:319px;
  top:301px;
  width:44px;
  height:19px;
  font-size:14px;
}
#u1498 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1499 {
  position:absolute;
  left:600px;
  top:301px;
  width:87px;
  height:19px;
  font-size:14px;
}
#u1500 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:1px;
}
#u1501 {
  position:absolute;
  left:161px;
  top:93px;
  width:971px;
  height:1px;
}
#u1502 {
  position:absolute;
  left:2px;
  top:-8px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1503 {
  position:absolute;
  left:1080px;
  top:51px;
  width:27px;
  height:27px;
}
#u1504 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:1px;
}
#u1505 {
  position:absolute;
  left:225px;
  top:225px;
  width:949px;
  height:1px;
}
#u1506 {
  position:absolute;
  left:2px;
  top:-8px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1508 {
  position:absolute;
  left:262px;
  top:188px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u1509 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1510 {
  position:absolute;
  left:354px;
  top:188px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u1511 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1512 {
  position:absolute;
  left:448px;
  top:188px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u1513 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1514 {
  position:absolute;
  left:537px;
  top:188px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u1515 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1516 {
  position:absolute;
  left:261px;
  top:146px;
  width:229px;
  height:27px;
}
#u1517 {
  position:absolute;
  left:2px;
  top:6px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u1518 {
  position:absolute;
  left:271px;
  top:151px;
  width:27px;
  height:17px;
  font-size:13px;
  color:#CCCCCC;
}
#u1519 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1520 {
  position:absolute;
  left:253px;
  top:182px;
  width:66px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1521 {
  position:absolute;
  left:343px;
  top:182px;
  width:66px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1522 {
  position:absolute;
  left:436px;
  top:182px;
  width:66px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1523 {
  position:absolute;
  left:529px;
  top:182px;
  width:66px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:3px;
  background:-webkit-linear-gradient(330deg, rgba(96, 150, 216, 1) 0%, rgba(96, 150, 216, 1) 0%, rgba(24, 155, 211, 1) 100%, rgba(24, 155, 211, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(96, 150, 216, 1) 0%, rgba(96, 150, 216, 1) 0%, rgba(24, 155, 211, 1) 100%, rgba(24, 155, 211, 1) 100%);
  background:linear-gradient(120deg, rgba(96, 150, 216, 1) 0%, rgba(96, 150, 216, 1) 0%, rgba(24, 155, 211, 1) 100%, rgba(24, 155, 211, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1524 {
  position:absolute;
  left:433px;
  top:222px;
  width:78px;
  height:3px;
}
#u1525 {
  position:absolute;
  left:2px;
  top:-6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
