body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u649_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:382px;
  height:806px;
}
#u649 {
  position:absolute;
  left:300px;
  top:0px;
  width:376px;
  height:800px;
}
#u650 {
  position:absolute;
  left:2px;
  top:392px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  position:absolute;
  left:300px;
  top:26px;
  width:376px;
  height:50px;
}
#u653 {
  position:absolute;
  left:2px;
  top:17px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:300px;
  top:0px;
  width:376px;
  height:27px;
}
#u657 {
  position:absolute;
  left:2px;
  top:6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u658 {
  position:absolute;
  left:307px;
  top:8px;
  width:360px;
  height:11px;
}
#u659 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u660 {
  position:absolute;
  left:317px;
  top:35px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u661 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  position:absolute;
  left:585px;
  top:37px;
  width:84px;
  height:28px;
}
#u663 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:19px;
}
#u664 {
  position:absolute;
  left:627px;
  top:42px;
  width:1px;
  height:19px;
}
#u665 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u666 {
  position:absolute;
  left:595px;
  top:49px;
  width:5px;
  height:5px;
}
#u667 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u668 {
  position:absolute;
  left:603px;
  top:48px;
  width:7px;
  height:7px;
}
#u669 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u670 {
  position:absolute;
  left:613px;
  top:49px;
  width:5px;
  height:5px;
}
#u671 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u672 {
  position:absolute;
  left:640px;
  top:43px;
  width:17px;
  height:17px;
}
#u673 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u674 {
  position:absolute;
  left:645px;
  top:48px;
  width:7px;
  height:7px;
}
#u675 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676 {
  position:absolute;
  left:586px;
  top:37px;
  width:84px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u677 {
  position:absolute;
  left:433px;
  top:40px;
  width:111px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u679 {
  position:absolute;
  left:325px;
  top:81px;
  width:12px;
  height:16px;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  visibility:hidden;
  white-space:nowrap;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u682 {
  position:absolute;
  left:300px;
  top:76px;
  width:376px;
  height:10px;
}
#u683 {
  position:absolute;
  left:2px;
  top:-3px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
  background:inherit;
  background-color:rgba(96, 150, 216, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u684 {
  position:absolute;
  left:325px;
  top:327px;
  width:318px;
  height:37px;
  font-size:16px;
  color:#FFFFFF;
}
#u685 {
  position:absolute;
  left:2px;
  top:9px;
  width:314px;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u686 {
  position:absolute;
  left:328px;
  top:158px;
  width:73px;
  height:19px;
  font-size:14px;
  color:#999999;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u688 {
  position:absolute;
  left:726px;
  top:137px;
  width:792px;
  height:431px;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  color:#FFFFFF;
}
#u690 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u691 {
  position:absolute;
  left:51px;
  top:0px;
  width:88px;
  height:30px;
  color:#FFFFFF;
}
#u692 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u693 {
  position:absolute;
  left:139px;
  top:0px;
  width:102px;
  height:30px;
  color:#FFFFFF;
}
#u694 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:30px;
}
#u695 {
  position:absolute;
  left:241px;
  top:0px;
  width:546px;
  height:30px;
  color:#FFFFFF;
}
#u696 {
  position:absolute;
  left:2px;
  top:8px;
  width:542px;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:54px;
}
#u697 {
  position:absolute;
  left:0px;
  top:30px;
  width:51px;
  height:54px;
}
#u698 {
  position:absolute;
  left:2px;
  top:20px;
  width:47px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:54px;
}
#u699 {
  position:absolute;
  left:51px;
  top:30px;
  width:88px;
  height:54px;
}
#u700 {
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
}
#u701 {
  position:absolute;
  left:139px;
  top:30px;
  width:102px;
  height:54px;
}
#u702 {
  position:absolute;
  left:2px;
  top:20px;
  width:98px;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:54px;
}
#u703 {
  position:absolute;
  left:241px;
  top:30px;
  width:546px;
  height:54px;
}
#u704 {
  position:absolute;
  left:2px;
  top:20px;
  width:542px;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:52px;
}
#u705 {
  position:absolute;
  left:0px;
  top:84px;
  width:51px;
  height:52px;
}
#u706 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:52px;
}
#u707 {
  position:absolute;
  left:51px;
  top:84px;
  width:88px;
  height:52px;
}
#u708 {
  position:absolute;
  left:2px;
  top:18px;
  width:84px;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u709 {
  position:absolute;
  left:139px;
  top:84px;
  width:102px;
  height:52px;
}
#u710 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:52px;
}
#u711 {
  position:absolute;
  left:241px;
  top:84px;
  width:546px;
  height:52px;
}
#u712 {
  position:absolute;
  left:2px;
  top:18px;
  width:542px;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:52px;
}
#u713 {
  position:absolute;
  left:0px;
  top:136px;
  width:51px;
  height:52px;
}
#u714 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:52px;
}
#u715 {
  position:absolute;
  left:51px;
  top:136px;
  width:88px;
  height:52px;
}
#u716 {
  position:absolute;
  left:2px;
  top:18px;
  width:84px;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u717 {
  position:absolute;
  left:139px;
  top:136px;
  width:102px;
  height:52px;
}
#u718 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:52px;
}
#u719 {
  position:absolute;
  left:241px;
  top:136px;
  width:546px;
  height:52px;
}
#u720 {
  position:absolute;
  left:2px;
  top:18px;
  width:542px;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:173px;
}
#u721 {
  position:absolute;
  left:0px;
  top:188px;
  width:51px;
  height:173px;
}
#u722 {
  position:absolute;
  left:2px;
  top:79px;
  width:47px;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:173px;
}
#u723 {
  position:absolute;
  left:51px;
  top:188px;
  width:88px;
  height:173px;
}
#u724 {
  position:absolute;
  left:2px;
  top:79px;
  width:84px;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:173px;
}
#u725 {
  position:absolute;
  left:139px;
  top:188px;
  width:102px;
  height:173px;
}
#u726 {
  position:absolute;
  left:2px;
  top:78px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:173px;
}
#u727 {
  position:absolute;
  left:241px;
  top:188px;
  width:546px;
  height:173px;
}
#u728 {
  position:absolute;
  left:2px;
  top:78px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
}
#u729 {
  position:absolute;
  left:0px;
  top:361px;
  width:51px;
  height:35px;
}
#u730 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u731 {
  position:absolute;
  left:51px;
  top:361px;
  width:88px;
  height:35px;
}
#u732 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u733 {
  position:absolute;
  left:139px;
  top:361px;
  width:102px;
  height:35px;
}
#u734 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:35px;
}
#u735 {
  position:absolute;
  left:241px;
  top:361px;
  width:546px;
  height:35px;
}
#u736 {
  position:absolute;
  left:2px;
  top:10px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u737 {
  position:absolute;
  left:0px;
  top:396px;
  width:51px;
  height:30px;
}
#u738 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u739 {
  position:absolute;
  left:51px;
  top:396px;
  width:88px;
  height:30px;
}
#u740 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u741 {
  position:absolute;
  left:139px;
  top:396px;
  width:102px;
  height:30px;
}
#u742 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:30px;
}
#u743 {
  position:absolute;
  left:241px;
  top:396px;
  width:546px;
  height:30px;
}
#u744 {
  position:absolute;
  left:2px;
  top:7px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:99px;
}
#u745 {
  position:absolute;
  left:1061px;
  top:329px;
  width:286px;
  height:99px;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
}
#u747 {
  position:absolute;
  left:300px;
  top:133px;
  width:376px;
  height:1px;
}
#u748 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u749 {
  position:absolute;
  left:328px;
  top:101px;
  width:30px;
  height:19px;
  font-size:14px;
  color:#999999;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
}
#u751 {
  position:absolute;
  left:300px;
  top:195px;
  width:376px;
  height:1px;
}
#u752 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
}
#u753 {
  position:absolute;
  left:300px;
  top:250px;
  width:376px;
  height:1px;
}
#u754 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u755 {
  position:absolute;
  left:331px;
  top:213px;
  width:59px;
  height:19px;
  font-size:14px;
  color:#999999;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u757 {
  position:absolute;
  left:605px;
  top:213px;
  width:49px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u758 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u759 {
  position:absolute;
  left:296px;
  top:823px;
  width:376px;
  height:650px;
  overflow:hidden;
}
#u759_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:650px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(54, 54, 54, 1);
  background-image:none;
}
#u759_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u760 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:650px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.858823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u761 {
  position:absolute;
  left:6px;
  top:432px;
  width:357px;
  height:158px;
  font-size:16px;
}
#u762 {
  position:absolute;
  left:2px;
  top:71px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.858823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u763 {
  position:absolute;
  left:6px;
  top:600px;
  width:357px;
  height:46px;
  font-size:16px;
}
#u764 {
  position:absolute;
  left:2px;
  top:14px;
  width:353px;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u765 {
  position:absolute;
  left:171px;
  top:555px;
  width:33px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u766 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u767 {
  position:absolute;
  left:171px;
  top:511px;
  width:33px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u768 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u769 {
  position:absolute;
  left:171px;
  top:467px;
  width:33px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:1px;
}
#u771 {
  position:absolute;
  left:6px;
  top:456px;
  width:357px;
  height:1px;
}
#u772 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:1px;
}
#u773 {
  position:absolute;
  left:6px;
  top:497px;
  width:357px;
  height:1px;
}
#u774 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:1px;
}
#u775 {
  position:absolute;
  left:6px;
  top:544px;
  width:357px;
  height:1px;
}
#u776 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u777 {
  position:absolute;
  left:148px;
  top:435px;
  width:79px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
