body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1849px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:652px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.188235294117647);
  -webkit-box-shadow:0px 1px 8px rgba(0, 0, 0, 0.188235294117647);
  box-shadow:0px 1px 8px rgba(0, 0, 0, 0.188235294117647);
}
#u2517 {
  position:absolute;
  left:300px;
  top:-10px;
  width:376px;
  height:652px;
}
#u2518 {
  position:absolute;
  left:2px;
  top:318px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2520 {
  position:absolute;
  left:300px;
  top:26px;
  width:376px;
  height:50px;
}
#u2521 {
  position:absolute;
  left:2px;
  top:17px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2523 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2524 {
  position:absolute;
  left:300px;
  top:0px;
  width:376px;
  height:27px;
}
#u2525 {
  position:absolute;
  left:2px;
  top:6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u2526 {
  position:absolute;
  left:307px;
  top:8px;
  width:360px;
  height:11px;
}
#u2527 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2528 {
  position:absolute;
  left:317px;
  top:35px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2529 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:43px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2530 {
  position:absolute;
  left:585px;
  top:37px;
  width:84px;
  height:28px;
}
#u2531 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:19px;
}
#u2532 {
  position:absolute;
  left:627px;
  top:42px;
  width:1px;
  height:19px;
}
#u2533 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2534 {
  position:absolute;
  left:595px;
  top:49px;
  width:5px;
  height:5px;
}
#u2535 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2536 {
  position:absolute;
  left:603px;
  top:48px;
  width:7px;
  height:7px;
}
#u2537 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2538 {
  position:absolute;
  left:613px;
  top:49px;
  width:5px;
  height:5px;
}
#u2539 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2540 {
  position:absolute;
  left:640px;
  top:43px;
  width:17px;
  height:17px;
}
#u2541 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2542 {
  position:absolute;
  left:645px;
  top:48px;
  width:7px;
  height:7px;
}
#u2543 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544 {
  position:absolute;
  left:586px;
  top:37px;
  width:84px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2545 {
  position:absolute;
  left:451px;
  top:38px;
  width:75px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2546 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2547 {
  position:absolute;
  left:325px;
  top:81px;
  width:12px;
  height:16px;
}
#u2548 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  visibility:hidden;
  white-space:nowrap;
}
#u2549 {
  position:absolute;
  left:736px;
  top:159px;
  width:674px;
  height:303px;
}
#u2550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u2550 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  color:#FFFFFF;
}
#u2551 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u2552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2552 {
  position:absolute;
  left:51px;
  top:0px;
  width:88px;
  height:30px;
  color:#FFFFFF;
}
#u2553 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u2554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u2554 {
  position:absolute;
  left:139px;
  top:0px;
  width:102px;
  height:30px;
  color:#FFFFFF;
}
#u2555 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u2556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:30px;
}
#u2556 {
  position:absolute;
  left:241px;
  top:0px;
  width:428px;
  height:30px;
  color:#FFFFFF;
}
#u2557 {
  position:absolute;
  left:2px;
  top:8px;
  width:424px;
  word-wrap:break-word;
}
#u2558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:54px;
}
#u2558 {
  position:absolute;
  left:0px;
  top:30px;
  width:51px;
  height:54px;
}
#u2559 {
  position:absolute;
  left:2px;
  top:20px;
  width:47px;
  word-wrap:break-word;
}
#u2560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:54px;
}
#u2560 {
  position:absolute;
  left:51px;
  top:30px;
  width:88px;
  height:54px;
}
#u2561 {
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u2562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
}
#u2562 {
  position:absolute;
  left:139px;
  top:30px;
  width:102px;
  height:54px;
}
#u2563 {
  position:absolute;
  left:2px;
  top:20px;
  width:98px;
  word-wrap:break-word;
}
#u2564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:54px;
}
#u2564 {
  position:absolute;
  left:241px;
  top:30px;
  width:428px;
  height:54px;
}
#u2565 {
  position:absolute;
  left:2px;
  top:12px;
  width:424px;
  word-wrap:break-word;
}
#u2566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:52px;
}
#u2566 {
  position:absolute;
  left:0px;
  top:84px;
  width:51px;
  height:52px;
}
#u2567 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:52px;
}
#u2568 {
  position:absolute;
  left:51px;
  top:84px;
  width:88px;
  height:52px;
}
#u2569 {
  position:absolute;
  left:2px;
  top:18px;
  width:84px;
  word-wrap:break-word;
}
#u2570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u2570 {
  position:absolute;
  left:139px;
  top:84px;
  width:102px;
  height:52px;
}
#u2571 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u2572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:52px;
}
#u2572 {
  position:absolute;
  left:241px;
  top:84px;
  width:428px;
  height:52px;
}
#u2573 {
  position:absolute;
  left:2px;
  top:18px;
  width:424px;
  word-wrap:break-word;
}
#u2574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
}
#u2574 {
  position:absolute;
  left:0px;
  top:136px;
  width:51px;
  height:27px;
}
#u2575 {
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:27px;
}
#u2576 {
  position:absolute;
  left:51px;
  top:136px;
  width:88px;
  height:27px;
}
#u2577 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:27px;
}
#u2578 {
  position:absolute;
  left:139px;
  top:136px;
  width:102px;
  height:27px;
}
#u2579 {
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u2580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:27px;
}
#u2580 {
  position:absolute;
  left:241px;
  top:136px;
  width:428px;
  height:27px;
}
#u2581 {
  position:absolute;
  left:2px;
  top:6px;
  width:424px;
  word-wrap:break-word;
}
#u2582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
}
#u2582 {
  position:absolute;
  left:0px;
  top:163px;
  width:51px;
  height:35px;
}
#u2583 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2584 {
  position:absolute;
  left:51px;
  top:163px;
  width:88px;
  height:35px;
}
#u2585 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u2586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u2586 {
  position:absolute;
  left:139px;
  top:163px;
  width:102px;
  height:35px;
}
#u2587 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:35px;
}
#u2588 {
  position:absolute;
  left:241px;
  top:163px;
  width:428px;
  height:35px;
}
#u2589 {
  position:absolute;
  left:2px;
  top:10px;
  width:424px;
  word-wrap:break-word;
}
#u2590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
}
#u2590 {
  position:absolute;
  left:0px;
  top:198px;
  width:51px;
  height:35px;
}
#u2591 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2592 {
  position:absolute;
  left:51px;
  top:198px;
  width:88px;
  height:35px;
}
#u2593 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u2594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u2594 {
  position:absolute;
  left:139px;
  top:198px;
  width:102px;
  height:35px;
}
#u2595 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:35px;
}
#u2596 {
  position:absolute;
  left:241px;
  top:198px;
  width:428px;
  height:35px;
}
#u2597 {
  position:absolute;
  left:2px;
  top:10px;
  width:424px;
  word-wrap:break-word;
}
#u2598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
}
#u2598 {
  position:absolute;
  left:0px;
  top:233px;
  width:51px;
  height:35px;
}
#u2599 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
}
#u2600 {
  position:absolute;
  left:51px;
  top:233px;
  width:88px;
  height:35px;
}
#u2601 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
}
#u2602 {
  position:absolute;
  left:139px;
  top:233px;
  width:102px;
  height:35px;
}
#u2603 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:35px;
}
#u2604 {
  position:absolute;
  left:241px;
  top:233px;
  width:428px;
  height:35px;
}
#u2605 {
  position:absolute;
  left:2px;
  top:10px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u2606 {
  position:absolute;
  left:0px;
  top:268px;
  width:51px;
  height:30px;
}
#u2607 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u2608 {
  position:absolute;
  left:51px;
  top:268px;
  width:88px;
  height:30px;
}
#u2609 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u2610 {
  position:absolute;
  left:139px;
  top:268px;
  width:102px;
  height:30px;
}
#u2611 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:30px;
}
#u2612 {
  position:absolute;
  left:241px;
  top:268px;
  width:428px;
  height:30px;
}
#u2613 {
  position:absolute;
  left:2px;
  top:7px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614 {
  position:absolute;
  left:1473px;
  top:2px;
  width:376px;
  height:650px;
  overflow:hidden;
}
#u2614_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:650px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2614_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:910px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2616 {
  position:absolute;
  left:0px;
  top:-39px;
  width:432px;
  height:910px;
}
#u2617 {
  position:absolute;
  left:2px;
  top:447px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2618 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:650px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.858823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2619 {
  position:absolute;
  left:6px;
  top:600px;
  width:357px;
  height:46px;
  font-size:16px;
}
#u2620 {
  position:absolute;
  left:2px;
  top:14px;
  width:353px;
  word-wrap:break-word;
}
#u2621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.858823529411765);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2621 {
  position:absolute;
  left:6px;
  top:547px;
  width:357px;
  height:45px;
  font-size:16px;
}
#u2622 {
  position:absolute;
  left:2px;
  top:14px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2623 {
  position:absolute;
  left:171px;
  top:559px;
  width:33px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2624 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2625 {
  position:absolute;
  left:1412px;
  top:205px;
  width:0px;
  height:0px;
}
#u2625_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u2625_seg1 {
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2626 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:197px;
}
#u2627 {
  position:absolute;
  left:300px;
  top:76px;
  width:376px;
  height:197px;
}
#u2628 {
  position:absolute;
  left:2px;
  top:90px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:137px;
}
#u2629 {
  position:absolute;
  left:300px;
  top:137px;
  width:376px;
  height:137px;
}
#u2630 {
  position:absolute;
  left:2px;
  top:60px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2631 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
  background:inherit;
  background-color:rgba(96, 150, 216, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2632 {
  position:absolute;
  left:383px;
  top:350px;
  width:191px;
  height:30px;
  color:#FFFFFF;
}
#u2633 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  word-wrap:break-word;
}
#u2634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.176470588235294);
}
#u2634 {
  position:absolute;
  left:325px;
  top:219px;
  width:324px;
  height:102px;
}
#u2635 {
  position:absolute;
  left:2px;
  top:43px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2636 {
  position:absolute;
  left:335px;
  top:234px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u2637 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2638 {
  position:absolute;
  left:335px;
  top:263px;
  width:59px;
  height:19px;
}
#u2639 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2640 {
  position:absolute;
  left:426px;
  top:263px;
  width:30px;
  height:19px;
}
#u2641 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2642 {
  position:absolute;
  left:342px;
  top:397px;
  width:278px;
  height:38px;
  color:#999999;
  text-align:center;
}
#u2643 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u2644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6096D8;
}
#u2644 {
  position:absolute;
  left:603px;
  top:226px;
  width:38px;
  height:16px;
  font-size:11px;
  color:#6096D8;
}
#u2645 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  word-wrap:break-word;
}
#u2646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2646 {
  position:absolute;
  left:335px;
  top:292px;
  width:59px;
  height:19px;
}
#u2647 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2648 {
  position:absolute;
  left:428px;
  top:293px;
  width:112px;
  height:19px;
}
#u2649 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
